.todoPanelHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid #c5c5c5;
}

.todoPanelHeader input[type='text']{
  padding: 1rem;
  width: 70%;;
  border: none;
  font-size: 1.3rem;
  font-family: sans-serif;
}