<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="./styles.css" />
		<title>CSS GRID Template Areas</title>
	</head>
	<body>
		<div id="header">Header</div>
		<main>
			<section>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
					Quaerat possimus quas dicta eligendi dignissimos in,
					nesciunt porro nisi velit exercitationem sequi laborum
					repellendus nobis amet non quos! Odio adipisci fuga eligendi
					sapiente doloribus vero itaque vel, et odit incidunt at
					vitae dolorum reprehenderit, porro voluptatum quam nisi
					officiis, neque deleniti ea! Modi ducimus omnis blanditiis
					iusto dicta velit dolor corporis maiores veniam alias,
					laudantium non porro unde! In, nemo reiciendis doloribus
					aspernatur culpa veritatis perspiciatis est! Est
					consequuntur nulla quisquam, ipsam ipsa commodi. Repellat
					delectus veniam ea aliquam beatae. Illo commodi hic in
					beatae iure sequi, sit explicabo mollitia eum, corporis
					cupiditate omnis totam repudiandae. Excepturi non incidunt
					nesciunt optio quisquam obcaecati veniam sint fuga
					necessitatibus minima laudantium quo neque, in repudiandae
					reprehenderit eaque quis autem soluta ad cum est. Reiciendis
					repudiandae cum iste, obcaecati incidunt labore, facilis
					dolore molestias fuga nesciunt officiis. Fuga voluptates
					recusandae nisi beatae quidem dolor placeat minima
					perspiciatis sequi laborum sit tenetur, nulla quod
					voluptatibus veritatis ducimus labore dignissimos
					consequuntur quibusdam doloremque sapiente? Omnis accusamus
					placeat, sit labore ratione autem possimus, dicta reiciendis
					atque tenetur assumenda voluptas facilis rem. Doloremque
					quo, incidunt quod vel quia voluptatem ab eos repellat illo
					iure dignissimos cupiditate quasi ullam.
				</p>
				<p>
					Sit sed esse eligendi voluptatum eaque voluptate
					necessitatibus in, autem laboriosam officiis corporis?
					Impedit, quae consequatur quia laudantium aliquam pariatur
					assumenda sapiente qui ipsa, illo dolore architecto quasi ad
					adipisci blanditiis quas ea numquam doloribus corporis nobis
					modi mollitia iusto? Magni doloremque accusantium recusandae
					molestiae, inventore nulla facere itaque. Repellat suscipit
					sed repudiandae, aliquid eum fuga laboriosam voluptate
					facere placeat vitae, nulla praesentium earum aspernatur
					recusandae doloribus cum expedita dolorum perferendis atque
					optio officia magni consequuntur tempore. Corrupti repellat
					velit impedit nemo nam dolores rerum fugit possimus
					obcaecati facilis recusandae accusamus quod nobis
					praesentium ipsam odio doloribus ratione libero, unde, neque
					labore aut beatae incidunt numquam. Saepe, sunt ex minima
					error, deleniti ut explicabo nostrum voluptate corrupti
					deserunt quibusdam corporis, modi facere sed. Debitis
					repudiandae pariatur tempore reprehenderit, natus dolores
					sapiente ipsum nihil. Aspernatur mollitia placeat fuga,
					cupiditate excepturi ipsam! Et voluptatem eaque veniam error
					quos corporis explicabo culpa mollitia illum dolorum
					molestias in ipsam, deserunt dignissimos quae recusandae
					perferendis corrupti cupiditate veritatis suscipit. Laborum
					nostrum eligendi corporis commodi hic quibusdam, dolorum,
					aliquam deleniti quod autem accusamus. Ex explicabo quis
					maxime. Nemo necessitatibus nostrum saepe modi illo veniam
					quia harum placeat mollitia aperiam, cupiditate hic
					consequuntur exercitationem ex quas accusamus!
				</p>
				<p>
					Delectus porro eaque distinctio harum quam a, laudantium
					consectetur itaque. Sit eligendi iusto labore incidunt autem
					esse, amet enim atque doloribus. Sunt deserunt corrupti
					dolorem? Animi libero suscipit quo, quasi architecto earum
					atque molestiae deserunt asperiores! Voluptates ratione non
					debitis distinctio sapiente explicabo repellat et expedita
					deserunt error, dolor possimus iste natus commodi
					laboriosam, quisquam quasi tempore quos incidunt nostrum
					voluptate deleniti quas! Deleniti quia deserunt est facere
					quisquam consequatur reiciendis consequuntur suscipit eius.
					Maxime rerum alias autem velit nesciunt, quis aspernatur
					deserunt nam quasi id unde enim, molestias laboriosam ipsa.
					Nesciunt, eos? Obcaecati aut voluptas natus rem dolorum et
					hic necessitatibus non distinctio sapiente voluptate,
					assumenda aspernatur alias mollitia velit cumque facilis
					voluptatibus amet maxime consequatur. Laboriosam sint quia
					dolorum. Labore nesciunt, ipsa esse ab minima quos magni
					corrupti consectetur doloribus sed soluta doloremque
					repudiandae itaque aperiam libero, eius expedita accusantium
					maiores odio! Quod consequatur pariatur vero rerum, dolores
					harum vitae eveniet similique inventore esse velit aut odit
					numquam earum quam, unde ullam optio magni nisi iste! Nulla,
					facilis distinctio sed eveniet minima, voluptas placeat
					recusandae quae nostrum, laudantium voluptatum error
					repudiandae inventore. Obcaecati perspiciatis odit
					explicabo! Eaque aliquam aut quisquam est a suscipit
					repudiandae pariatur veritatis optio minus?
				</p>
				<p>
					Sunt unde, voluptatem quo in omnis, quibusdam aspernatur
					corporis natus, blanditiis est ea perspiciatis. Nisi rem
					amet tempore molestias at molestiae quisquam sequi eos hic
					modi, dolore nihil totam voluptatem quia, sit ex
					voluptatibus in iusto cumque eligendi dolores repellendus
					provident quo explicabo! Adipisci debitis vero aut iusto,
					quas optio dolorem! Amet, obcaecati hic consequuntur
					mollitia dolore neque corrupti! In, iste tempore voluptatum
					quos earum quo veniam, saepe, provident eaque corrupti
					aliquam soluta ex. Veritatis nostrum totam ex quasi iure
					consectetur voluptatum qui? Laudantium itaque sint
					laboriosam ex rem est numquam repellendus explicabo, modi,
					vel aperiam nihil officiis veritatis voluptatum tempora
					natus iure placeat hic id reiciendis maxime. Beatae maxime,
					qui a unde minus omnis quisquam magni repellat numquam
					veritatis nobis consectetur nemo laudantium totam
					perferendis corrupti rerum autem atque earum suscipit, vero
					quam. Quia adipisci sint quis possimus voluptatibus deserunt
					mollitia totam vitae odit repellat fuga, dolorum similique
					sunt debitis a explicabo perspiciatis unde optio at eum aut
					asperiores fugit modi voluptatem. Excepturi incidunt optio
					eos porro voluptates blanditiis mollitia similique magnam
					distinctio asperiores! Aperiam ad nostrum aspernatur itaque
					iusto atque, voluptate dolorum optio amet omnis sint maxime
					tenetur blanditiis perferendis? Unde voluptatem ipsa
					suscipit. Animi distinctio voluptas dicta?
				</p>
				<p>
					Adipisci qui temporibus consequatur, facere obcaecati quasi
					pariatur quod. Molestiae atque architecto ratione
					voluptatibus quae molestias, eligendi necessitatibus unde
					dolorum minima inventore accusamus voluptates optio. Libero
					minus eligendi nulla officia nobis ducimus quia nesciunt
					perspiciatis excepturi nemo obcaecati pariatur modi itaque,
					magnam fugit quis ea impedit distinctio totam sit placeat
					perferendis odio! Quae aspernatur tenetur nostrum unde minus
					eos ducimus rem atque quidem ad, dolorem maxime blanditiis
					reprehenderit, facilis perferendis velit quia veniam quas
					debitis perspiciatis fugit quis! A, voluptatum autem itaque
					debitis totam neque iure ea iste sint. Possimus excepturi
					earum ducimus eligendi error laudantium consequuntur
					molestias similique magni esse veniam ex, sapiente, quod
					totam. Recusandae nisi quis ad ab dolorem modi iusto labore,
					fugiat nulla eum possimus! Qui aperiam at, facilis, ullam
					eos excepturi ab porro quam quod ea tempore? Ea placeat quo
					consectetur aperiam, excepturi reiciendis impedit culpa
					officia assumenda dolorem recusandae. Nobis obcaecati fugiat
					nemo quia mollitia repudiandae rem nihil quibusdam cum enim?
					Sit dolor atque reprehenderit eum illum! Nisi repellendus
					similique eum dolorum, quidem saepe dignissimos hic,
					mollitia esse eaque laudantium ratione atque voluptatibus.
					Ut nemo, facilis, dolor voluptatibus doloribus cum at minus
					repellat distinctio omnis explicabo eaque, animi facere
					repellendus. Delectus velit hic tempora!
				</p>
			</section>
		</main>
		<nav>Navigation</nav>
		<aside>Sidebar</aside>
		<footer>Footer</footer>
	</body>
</html>
