.inputWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #c5c5c5b0;
}

.input {
  padding: 1.3rem 3rem;
  width: 100%;
  font-family: inherit;
  font-size: 1.3rem;
  border: none;
}

.input::placeholder {
  font-style: italic;
  color: #c5c5c59d;
  font-weight: 100;
}

.toggleAll {
  font-size: 22px;
  color: #e6e6e6;
  padding: 10px 27px 10px 27px;
  position: absolute;
  left: -5px;
  top: 10px;
  transform: rotate(90deg);
  z-index: 1;
  cursor: pointer;
}

.toggleAll.checked {
  color: #4d4d4d;;
}